@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@for $i from 1 through 5 {
    $enter-delay: 400ms;

    .page-enter-active {
        overflow: hidden;
        transition: transform $enter-delay cubic-bezier(0.4, 0.1, 0.7, 0.95);

        .enter-#{$i} {
            transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
            transition-property: opacity, transform;
            transition-delay: #{120ms * $i + $enter-delay};
        }
    }

    .page-enter {
        transform: translateX(100%);

        .enter-#{$i} {
            opacity: 0;
            transform: translateX(50px);
        }
    }
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.5s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
}

.slide-out-in-enter-active {
    transition: all .3s ease;
}

.slide-out-in-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-out-in-enter,
.slide-out-in-leave-to {
    transform: translateX(80%);
    opacity: 0;
}
